.app-Style {
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-box {
  width: 300px;
  height: 200px;
  border: 2px solid green;
}
